$ansi-0:  #5b5955;
$ansi-1:  #c4756e;
$ansi-2:  #559a6a;
$ansi-3:  #9b8a4b;
$ansi-4:  #6a8dca;
$ansi-5:  #b577ac;
$ansi-6:  #019baa;
$ansi-7:  #dbdde2;
$ansi-8:  #707277;
$ansi-9:  #f6a299;
$ansi-10: #82c896;
$ansi-11: #cab775;
$ansi-12: #98bbfb;
$ansi-13: #e5a4db;
$ansi-14: #53cad9;
$ansi-15: #f7fff9;
$fg:      #a4a6ab;
$bg:      #22252d;
$bold:    #a4a6ab;
$cur-fg:  #2d2c28;
$cur-bg:  #a4a6ab;
$sel-fg:  #484a4d;
$sel-bg:  #e6dcc1;
